.package{

    margin-top: 16px;
    background-color: rgb(106 137 233);
}
.package>a{
    border: 4px solid black;
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}
.package-title{
    font-size: 24px;
}
.package-second-title{
    color: rgb(237, 204, 204);
}
.package-description{
    border: 2px solid black;
    padding: 16px;
    background-color: #3db2ed;
}
.package>a:hover,
.package>a:active{
    background-color: rgb(58, 66, 218);
    border: 4px solid blue;
    box-shadow: 2px 0px 7px 3px;
}